.box-table {
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}
.wrap-connectnew .dest-text p {
  text-align: justify;
}
.wrap-connectnew .box-connectnew a {
  color: #0000cc;
}
.wrap-connectnew .box-connectnew p {
  text-align: center;
}
table,
td,
th {
  border: 1px solid #ccc;
}
th {
  text-align: center;
}
td,
th {
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

header nav ul ul {
  display: none !important;
}
@media (max-width: 1024px) {
  .menu-mobile {
    display: block;
  }
  header .navigation {
    display: none;
  }
}
@media (max-width: 767px) {
  .box-table {
    width: 90%;
    margin: auto;
  }
  td,
  th {
    padding: 4px !important;
  }
  table td:first-child {
    display: none;
  }
  table th:first-child {
    display: none;
  }
  table td:nth-child(2) {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .box-table {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 420px) {
  table th {
    width: 200px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 5px;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1rem;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
